{% extends "layouts/internal.html" %}
 {% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
  Research
{% endblock %}

{% block beforeContent %}
  {# {% include "layouts/phase-banner.html" %} #}
  {% include "layouts/back-link.html" %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    Research
  </h1>

  <div class="govuk-inset-text">
    Caveat that this may look like the live service. However, it is a prototype for testing some of our work. There will be discrepancies and only a small number of links will work.
</div>

  <h2 class="govuk-heading-s">
    Admin task journey
  </h2>
  <p class="govuk-body-m">
    Admin user group journey to book an appointmnet and request medical evidence using 'My tasks'. 
  </p>

{{ govukButton({
  text: "View prototype",
  href: "/v4/homepage"
}) }}

  <hr>
  <br> 

{% endblock %}
