{% extends "layouts/internal.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "layouts/phase-banner.html" %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="/task-type" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Select a type of task
              </h1>
            </legend>
              <div id="changedName-hint" class="govuk-hint">
                What type of task do you want to work on?
              </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="taskType" name="taskType" type="radio" value="case-pre-checks">
                <label class="govuk-label govuk-radios__label" for="taskType">
                  Case pre-checks
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="taskType-2" name="taskType" type="radio" value="request-medical-evidence">
                <label class="govuk-label govuk-radios__label" for="taskType-2">
                  Request medical evidence
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="taskType-3" name="taskType" type="radio" value="book-appointment">
                <label class="govuk-label govuk-radios__label" for="taskType-3">
                  Book appointment
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
