registry=https://registry.npmjs.org/

# DWP private package registry
@dwp:registry=https://gitlab.com/api/v4/projects/health-workflow-prototype/packages/npm/

# Authentication token (keep this line!)
# Replace YOUR_TOKEN below with your real token
//gitlab.com/api/v4/projects/health-workflow-prototype/packages/npm/:_authToken=<insert_token>

strict-ssl=false
cafile=/etc/ssl/cert.pem
always-auth=true