save-exact = true
tag-version-prefix = ""
ignore-scripts=true
registry=https://registry.npmjs.org/

@dwp:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=token