{% extends "layouts/internal.html" %}

{% block pageTitle %}Research{% endblock %}


{% block content %}

<h1 class="govuk-heading-l">Research</h1>

<div class="govuk-inset-text">Caveat that this may look like the live service. However, it is a prototype for testing some of our work. There will be discrepancies and only a small number of links will work.</div>

<h2 class="govuk-heading-s">Claimant and referral details</h2>

<p class="govuk-body-m">All user groups use these UIs as a central navigation. Navigating these and other UIs across HAS to complete tasks. </p>

<p class="govuk-body"><a href="/v6/claimant-details" class="govuk-link">Claimant and referral details 1.0</a>.</p>

<p class="govuk-body"><a href="/v6/claimant-details-sad" class="govuk-link">Claimant and referral details 2.0</a>.</p>

<p class="govuk-body"><a href="/v6/claimant-details-test" class="govuk-link">Claimant and referral details 3.0</a>.</p>

{% endblock %}
