{% extends "layouts/internal.html" %}

{% block pageTitle %}
  HCP review task summary
{% endblock %}

{% block beforeContent %}
  {% include "layouts/phase-banner.html" %}
  {% include "layouts/back-link.html" %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    <!-- <span class="govuk-caption-l">Task summary</span> -->
    HCP review
  </h1>

  <table class="govuk-table">
    <!-- <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">Amount</th>
      </tr>
    </thead> -->
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">To do</th>
        <td class="govuk-table__cell"></td>

      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Claimant name</th>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">National Insurance number</th>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">End of life</th>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Referral date</th>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Benefit type</th>
        <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
  </table>

   {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Start task",
  href: "/v1/claimant-details-test"
}) }}

  <p class="govuk-body">
  <a href="/v1/my-tasks/my-tasks-none-returned" class="govuk-link">I cannot do this task, return task</a>
</p>

{% endblock %}
