{% extends "layouts/internal.html" %}

{% block pageTitle %}
  My tasks
{% endblock %}

{% block beforeContent %}
  {% include "layouts/phase-banner.html" %}
  {% include "layouts/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Task returned to be worked on by someone else
    </h3>
    <!-- <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p> -->
  </div>
</div>


  <h1 class="govuk-heading-l">
    My tasks
  </h1>

  <p class="govuk-body-m">
    View and manage your tasks.
  </p>

  <button type="submit" class="govuk-button" data-module="govuk-button">
  Get next task
  </button>


  <!-- // start table here -->

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#open-tasks">
          Open tasks
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#closed-tasks">
          Closed tasks
        </a>
      </li>
    </ul>

    <div class="govuk-tabs__panel" id="open-tasks">
      <h2 class="govuk-heading-l">Open tasks</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Task type</th>
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">National Insurance number</th>
            <th scope="col" class="govuk-table__header">Task due</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="hcp-review" name="hcp-review" type="checkbox" value="hcp-review"><label class="govuk-label govuk-checkboxes__label" for="hcp-review">HCP review</label></div></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">James Bond</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">3 days overdue</strong></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="hcp-review" name="hcp-review" type="checkbox" value="hcp-review"><label class="govuk-label govuk-checkboxes__label" for="hcp-review">Paper based assessment</label></div></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Jayne Eyre</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">2 days overdue</strong></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="hcp-review" name="hcp-review" type="checkbox" value="hcp-review"><label class="govuk-label govuk-checkboxes__label" for="hcp-review">Review new evidence</label></div></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Jack Sparrow</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">1 day overdue</strong></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="hcp-review" name="hcp-review" type="checkbox" value="hcp-review"><label class="govuk-label govuk-checkboxes__label" for="hcp-review">Review new evidence</label></div></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Sherlock Holmes</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Today</strong></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="hcp-review" name="hcp-review" type="checkbox" value="hcp-review"><label class="govuk-label govuk-checkboxes__label" for="hcp-review">Review new evidence</label></div></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Jane Doe</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">1 day</strong></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="hcp-review" name="hcp-review" type="checkbox" value="hcp-review"><label class="govuk-label govuk-checkboxes__label" for="hcp-review">Telephone assessment</label></div></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Hannah Montanna</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">2 days</strong></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="hcp-review" name="hcp-review" type="checkbox" value="hcp-review"><label class="govuk-label govuk-checkboxes__label" for="hcp-review">HCP review</label></div></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Harry potter</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">2 days</strong></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="hcp-review" name="hcp-review" type="checkbox" value="hcp-review"><label class="govuk-label govuk-checkboxes__label" for="hcp-review">Face to face assessment</label></div></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">The Sandman</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">2 days</strong></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="hcp-review" name="hcp-review" type="checkbox" value="hcp-review"><label class="govuk-label govuk-checkboxes__label" for="hcp-review">HCP review</label></div></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Le Creuset</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">3 days</strong></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes"><div class="govuk-checkboxes__item"><input class="govuk-checkboxes__input" id="hcp-review" name="hcp-review" type="checkbox" value="hcp-review"><label class="govuk-label govuk-checkboxes__label" for="hcp-review">Review new medical evidence</label></div></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Peter Piper</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">4 days</strong></td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">View task</a></td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Mark tasks as complete
      </button>
    </div>




    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed-tasks">
      <h2 class="govuk-heading-l">Closed tasks</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Task type</th>
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">National Insurance number</th>
            <th scope="col" class="govuk-table__header">Task due</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Paper based assessment</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">James Bond</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Completed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Review new evidence</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Jack Sparrow</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Completed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Review new evidence</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">James Bond</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Completed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Review new evidence</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Jane Eyre</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Completed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Review new evidence</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Le Creuset</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Completed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">HCP review</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">James Bond</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Completed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">HCP review</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Le Creuset</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Completed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Telephone assessment</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Hannah Montanna</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Completed</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">HCP review</td>
            <td class="govuk-table__cell"><a href="#" class="govuk-link">Jane Eyre</a></td>
            <td class="govuk-table__cell">QQ 12 34 56 F</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Completed</strong></td>
          </tr>
        </tbody>

      </table>

    </div>
  </div>


{% endblock %}
