{% extends "layouts/internal.html" %}

{% block pageTitle %}
  My tasks
{% endblock %}

{% block beforeContent %}
  {% include "layouts/phase-banner.html" %}
  {% include "layouts/back-link.html" %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    Edit report process
  </h1>

  <p class="govuk-body-m">
    At this point we'd like you to imagine you've gone through your process of editing the report.
  </p>


 {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "/v2/task-completed-1"
}) }}




{% endblock %}
