{% extends "layouts/internal.html" %}
 {% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
  My tasks
{% endblock %}

{% block beforeContent %}
  {% include "layouts/phase-banner.html" %}
  {% include "layouts/back-link.html" %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    Research
  </h1>

  <div class="govuk-inset-text">
    Caveat that this may look like the live service. However, it is a prototype for testing some of our work. There will be discrepancies and only a small number of links will work.
</div>

  <h2 class="govuk-heading-s">
    New auto allocated task
  </h2>
  <p class="govuk-body-m">
    HCP navigates to task landing UI and has been allocated a new edit report task.
  </p>

{{ govukButton({
  text: "Option 1",
  href: "/v2/homepage-1"
}) }}

  <hr>
  <br>

  <h2 class="govuk-heading-s">
    New multiple auto allocated tasks
  </h2>

  <p class="govuk-body-m">
    HCP navigates to task landing UI and has been allocated multiple tasks including a new edit report task an telephone assessment task.
  </p>

{{ govukButton({
  text: "Option 2",
  href: "/v2/homepage-2"
}) }}

  <hr>
  <br>

  <h2 class="govuk-heading-s">
    New multiple auto allocated tasks grouped
  </h2>
  <p class="govuk-body-m">
    HCP navigates to task landing UI and has been allocated multiple tasks including a new edit report task an telephone assessment task. Where new allocated tasks have been grouped at the top of the table.
  </p>

{{ govukButton({
  text: "Option 3",
  href: "/v2/homepage-3"
}) }}

  <hr>
  <br>

  <h2 class="govuk-heading-s">
    New allocated tasks with UI updates
  </h2>
    <p class="govuk-body-m">
    HCP navigates to task landing UI and has been allocated multiple tasks including a new edit report task and a telephone assessment task. Use of inset text and MOJ notification bade. Green CTA moved underneath table.
  </p>

 {{ govukButton({
  text: "Option 4",
  href: "/v2/homepage-4"
}) }}



{% endblock %}
