{% extends "layouts/internal.html" %}

{% block pageTitle %}
  My tasks
{% endblock %}

{% block beforeContent %}
  {% include "layouts/phase-banner.html" %}
  {% include "layouts/back-link.html" %}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">HCP Review</h1>

                

                  {# <ul class="govuk-list">

  <li aria-label="Item 1 of 1">
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Clinical review and justification</dt>
            <dd class="govuk-summary-list__value retain-whitespace"></dd>
        </div>
        
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Outcome</dt>
            <dd class="govuk-summary-list__value">Telephone assessment</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">HCP Name</dt>
            <dd class="govuk-summary-list__value">John Doe</dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Date of review</dt>
            <dd class="govuk-summary-list__value">21 July 2025</dd>
        </div>
    </dl>
  </li>

</ul> #}

                
                

                  




<div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="7500" data-threshold="100" data-govuk-character-count-init="">
  <label class="govuk-label govuk-label--s" for="clinicalReviewText">
    Enter clinical review and justification
  </label>

  
  
  <div id="clinicalReviewText-hint" class="govuk-hint">
    Include whether evidence has been reviewed, the type of FME requested, and what to do if it's not returned.
  </div>



  <textarea class="govuk-textarea govuk-js-character-count" id="clinicalReviewText" name="clinicalReviewText" rows="12" aria-describedby="clinicalReviewText-info clinicalReviewText-hint"></textarea><div id="clinicalReviewText-info" class="govuk-hint govuk-character-count__message govuk-visually-hidden">
    You can enter up to 7500 characters
  </div><div class="govuk-hint govuk-character-count__message govuk-character-count__status govuk-character-count__message--disabled" aria-hidden="true">You have 7,500 characters remaining</div><div class="govuk-character-count__sr-status govuk-visually-hidden" aria-live="polite" aria-hidden="true">You have 7,500 characters remaining</div>

  

</div>









<div class="govuk-form-group">

  <fieldset class="govuk-fieldset" aria-describedby="caseType-hint">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    
      Is the case one of the following?
    
    </legend>
    
  
    <div id="caseType-hint" class="govuk-hint">
      Select all that apply.
    </div>
  
  
    <div class="govuk-checkboxes" data-module="govuk-checkboxes" data-govuk-checkboxes-init="">
      
      
        
    
    
      
      
      
      
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="caseType" name="caseType" type="checkbox" value="complexNeurological">
        <label class="govuk-label govuk-checkboxes__label" for="caseType">
          Complex neurological (WCA only)
        </label>
        
      </div>
      
    
  
      
        
    
    
      
      
      
      
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="caseType-2" name="caseType" type="checkbox" value="tact">
        <label class="govuk-label govuk-checkboxes__label" for="caseType-2">
          TACT — take additional care (PIP only)
        </label>
        
      </div>
      
    
  
      
      
    </div>
  
  </fieldset>

</div>








<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    
      What is the outcome of this review?
    
    </legend>
    
  
    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clinicalReviewOutcome" name="clinicalReviewOutcome" type="radio" value="requestFme">
        <label class="govuk-label govuk-radios__label" for="clinicalReviewOutcome">
          Request further medical evidence (FME)
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clinicalReviewOutcome-2" name="clinicalReviewOutcome" type="radio" value="pbr">
        <label class="govuk-label govuk-radios__label" for="clinicalReviewOutcome-2">
          Paper based review (PBR)
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clinicalReviewOutcome-3" name="clinicalReviewOutcome" type="radio" value="telephoneAssessment">
        <label class="govuk-label govuk-radios__label" for="clinicalReviewOutcome-3">
          Telephone assessment
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clinicalReviewOutcome-4" name="clinicalReviewOutcome" type="radio" value="faceToFaceAssessment">
        <label class="govuk-label govuk-radios__label" for="clinicalReviewOutcome-4">
          Face to face assessment
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="clinicalReviewOutcome-5" name="clinicalReviewOutcome" type="radio" value="srel">
        <label class="govuk-label govuk-radios__label" for="clinicalReviewOutcome-5">
          Special rules for end of life (SREL)
        </label>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>

   {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue",
  href: "/v1/hcp-review-summary"
}) }}

      </main>
    </div>  


</body>

{% endblock %}
