{% extends "layouts/internal.html" %}
 {% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
  My tasks
{% endblock %}

{% block beforeContent %}
  {% include "layouts/phase-banner.html" %}
  {% include "layouts/back-link.html" %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    Research
  </h1>

  <div class="govuk-inset-text">
    Caveat that this may look like the live service. However, it is a prototype for testing some of our work. There will be discrepancies and only a small number of links will work.
</div>

  <br>

  <h2 class="govuk-heading-s">
    A HCP to pick up an initail HCP review task and mark it as complete.
  </h2>
  <p class="govuk-body-m">
    The focus should be around allocating the task, activating the task and marking the task as complete. There are some HCP screens for context but can we ask the user not to focus on these too much and guide them through, before returning to the task screens?
  </p>

{{ govukButton({
  text: "Journey 1",
  href: "/v1/homepage-1"
}) }}

  <hr>
  <br>

  <h2 class="govuk-heading-s">
    A HCP to return a task to the task backlog.
  </h2>

  <p class="govuk-body-m">
    The focus should be around allocating the task, retuning the task to the backlog.
  </p>

{{ govukButton({
  text: "Journey 2",
  href: "/v1/homepage-1"
}) }}

  <hr>
  <br>

  <h2 class="govuk-heading-s">
    A HCP to pick up a task for a case they've already worked on.
  </h2>
  <p class="govuk-body-m">
    The focus should be around understanding that there is a new task for the user to do based on a case they've already work on.
  </p>

{{ govukButton({
  text: "Journey 3",
  href: "/v1/homepage-2"
}) }}

  <hr>
  <br>

  <h2 class="govuk-heading-s">
    General feedabck
  </h2>
    <p class="govuk-body-m">
    We're looking for genral feedback on UIs. For example, is there enough information? Is there too much information? What would a user need to know in order to progress with their task?
  </p>

  <p class="govuk-body">
  <a href="/v1/my-tasks/my-tasks" class="govuk-link">My tasks</a>
  </p>

  <p class="govuk-body">
  <a href="/v1/task-summary/hcp-review" class="govuk-link">HCP review task summary</a>
  </p>

  <p class="govuk-body">
  <a href="/v1/task-summary/review-new-evidence" class="govuk-link">Review new evidence task summary</a>
  </p>

  <p class="govuk-body">
  <a href="/v1/task-summary/paper-based-assessment" class="govuk-link">Paper based assessment task summary</a>
  </p>

  <p class="govuk-body">
  <a href="/v1/task-summary/telephone-assessment" class="govuk-link">Telephone assessment task summary</a>
  </p>

  <p class="govuk-body">
  <a href="/v1/task-summary/face-to-face-assessment" class="govuk-link">Face to face assessment task summary</a>
  </p>



{% endblock %}
