{% extends "layouts/internal.html" %}

{% block pageTitle %}
  My tasks
{% endblock %}

{% block beforeContent %}
  {% include "layouts/phase-banner.html" %}
  {% include "layouts/back-link.html" %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    Review further evidence process
  </h1>

  <p class="govuk-body-m">
    At this point we'd like you to imagine you've gone through you're process of reviewing further evidence.
  </p>

   <p class="govuk-body-m">
    You've also updated the events in the timeline and updated the status.
  </p>

 {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "/v1/status-update-confirmation-1"
}) }}




{% endblock %}
