{% extends "layouts/internal.html" %}

{% block pageTitle %}
  Complete task confirmation
{% endblock %}

{% block beforeContent %}
  {% include "layouts/phase-banner.html" %}
  {% include "layouts/back-link.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <h1 class="govuk-heading-l">
    Are you sure you want to complete this task?
  </h1>

  <p class="govuk-body">Once you complete a task, it will be closed and cannot be reopened.</p>

    <div class="govuk-button-group">
 
    <a href="/v1/my-tasks/task-completed-1" class="govuk-button" data-module="govuk-button">
      Complete task
    </a>

    <a href="/v1/my-tasks/my-tasks-1" role="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Keep task open
    </a>
    </div>


{% endblock %}
