{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

          <header class="dwp-header">
            <div class="dwp-header__content govuk-width-container">
              <div class="dwp-header__service-name dwp-header__service-name--with-action">
                <a href="/index" class="dwp-header__link">Health assessment service</a>
              </div>

              <div class="dwp-header__service-action">
                <a href="#" class="dwp-header__link">My profile</a>
              </div>

          </div>
          </header>

          <div role="region" class="govuk-width-container">
            


<div class="govuk-phase-banner" id="feedback-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Feedback
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us to improve it by giving your <a class="govuk-link" target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=6fbxllcQF0GsKIDN_ob4wwsNITBybwlJpxgi6kbrawdURDNGOTBYT1ZYSzVWM1c3QjRRSEVLV0hMTyQlQCN0PWcu">feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

        </div>

        

{% endblock %}

{% block footer %}

{{
        dwpFooter({
            meta: {
                visuallyHiddenTitle: "footer links",
                items: [
                {
                    href: "#1",
                    text: "Accessibility statement"
                },
                {
                    href: "#2",
                    text: "Versions"

                },
                {
                    href: "/v6/research",
                    text: "Research"

                }
                
                ]
            }
        })
}}

{% endblock %}
